<!DOCTYPE html>
<html>
  <head>
    {%block head%}
    <meta charset="utf-8"/>
    <title>{%block title%}Printing Point Management Administration{%endblock%}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/local.css')}}"/>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" defer="defer"></script>
    {%endblock%}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('index')}}">
          <img src="{{url_for('static', filename='img/logo.svg')}}" class="logo d-inline-block align-text-top"/>
          PPMA
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbar-content">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-content">
          {%block nav%}{%endblock%}
          {%with user = get_user_info()%}
          {%if user.logged_in%}
          <form action="/logout" method="post" class="d-flex ms-auto header-user-form">
            <span>{{user.user_type}}: <b>{{user.user_name}}</b></span>
            <button type="submit" class="btn btn-outline-primary ms-1">Log out</button>
          </form>
          {%else%}
          <form action="/login" method="get" class="d-flex ms-auto header-user-form">
            <input type="hidden" name="continue" value="{{request.full_path}}"/>
            <button type="submit" class="btn btn-outline-primary">Log in</button>
            <button type="submit" name="register" value="yes" class="btn btn-outline-primary ms-1">Sign up</button>
          </form>
          {%endif%}
          {%endwith%}
        </div>
      </div>
    </nav>
    {%with messages = get_flashed_messages(with_categories=True)%}
    {%if messages%}
    <div class="container">
      {%for category, message in messages%}
      {%set bootstrapClass = {'success': 'success', 'info': 'info', 'warning': 'warning',
                              'error': 'danger'}.get(category, 'secondary')%}
      <div class="alert alert-{{bootstrapClass}} alert-dismissible">
        <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        <strong>{{category.capitalize()}}:</strong> {{message}}
      </div>
      {%endfor%}
    </div>
    {%endif%}
    {%endwith%}
    <div class="container">
      {%block content%}
      <p><i>You should never see this...</i></p>
      {%endblock%}
    </div>
  </body>
</html>
