{%extends "base.html"%}
{%block content%}
      <h1 class="text-center">Printing Point Management Administration</h1>
      {%with user = get_user_info()%}
      {%if user.logged_in%}
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <div class="card border-primary">
            <div class="card-header border-primary text-primary">User information</div>
            <div class="card-body">
              <dl class="mb-0 row">
                <dt class="col-md-4 mb-0 text-md-end">User name:</dt>
                <dd class="col-md-8">{{user.user_name}}</dd>
                <dt class="col-md-4 mb-0 text-md-end">Status:</dt>
                <dd class="col-md-8">{{user.user_type}}</dd>
                <dt class="col-md-4 mb-0 text-md-end">Printing points:</dt>
                <dd class="col-md-8 mb-0">{%if points == None%}<i>N/A</i>{%else%}{{points}}{%endif%}</dd>
              </dl>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-3 mb-lg-0">
          <div class="card border-secondary">
            <div class="card-header border-secondary">Actions</div>
            <div class="list-group list-group-flush">
              {%if user.user_status >= 3%}
              <a href="{{url_for('application_review_list')}}" class="list-group-item list-group-item-action">
                Review applications
                {%if applications%}
                <span class="badge rounded-pill bg-primary">{{applications}}</span>
                {%endif%}
              </a>
              {%elif applications%}
              <a href="{{url_for('application')}}" class="list-group-item list-group-item-action">Finish application process</a>
              {%else%}
              <i class="list-group-item">None</i>
              {%endif%}
            </div>
          </div>
        </div>
      </div>
      {%else%}
      <form action="{{url_for('login')}}" method="get" class="row">
        <div class="col-lg-2"></div>
        <div class="col-md col-lg-4 mb-2">
          <button type="submit" class="btn btn-primary w-100">Wake up <i>(log in)</i></button>
        </div>
        <div class="col-md col-lg-4 mb-2">
          <button type="submit" name="register" value="yes" class="btn btn-primary w-100">Apply for Usership <i>(sign up)</i></button>
        </div>
        <div class="col-lg-2"></div>
      </form>
      {%endif%}
      {%endwith%}
{%endblock%}
