<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>Printing Point Management Administration</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{url_for('static', filename='css/bootstrap.min.css')}}"/>
    <link rel="stylesheet" href="{{url_for('static', filename='css/local.css')}}"/>
    <script src="{{url_for('static', filename='js/bootstrap.bundle.min.js')}}" defer="defer"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{{url_for('index')}}">
          <img src="{{url_for('static', filename='img/logo.svg')}}" class="logo d-inline-block align-text-top"/>
          PPMA
        </a>
      </div>
    </nav>
    <div class="container">
      <h1>Hello World!</h1>
      <p>This is the Printing Point Management Administration.</p>
    </div>
  </body>
</html>
