{%extends "base.html"%}
{%block content%}
      <h1 class="text-center">Printing Point Management Administration</h1>
      {%with user = get_user_info()%}
      {%if user.logged_in%}
      <div class="row">
        <div class="col-lg-8 col-xxl-6 mx-auto">
          <div class="card border-primary">
            <div class="card-header border-primary text-primary">User information</div>
            <dl class="card-body mb-0">
              <dt>User name:</dt>
              <dd>{{user.user_name}}</dd>
              <dt>Status:</dt>
              <dd>{{user.user_type}}</dd>
              <dt>Printing points:</dt>
              <dd class="mb-0">{%if points == None%}<i>N/A</i>{%else%}{{points}}{%endif%}</dd>
            </dl>
          </div>
        </div>
      </div>
      {%else%}
      <form action="{{url_for('login')}}" method="get" class="row">
        <div class="col-lg-2"></div>
        <div class="col-md col-lg-4 mb-2">
          <button type="submit" class="btn btn-primary w-100">Wake up <i>(log in)</i></button>
        </div>
        <div class="col-md col-lg-4 mb-2">
          <button type="submit" name="register" value="yes" class="btn btn-primary w-100">Apply for Usership <i>(sign up)</i></button>
        </div>
        <div class="col-lg-2"></div>
      </form>
      {%endif%}
      {%endwith%}
{%endblock%}
