{%extends "base.html"%}
{%set subtitle = "Overview \u2014 Application Review"%}
{%block extrahead%}
{{load_script('js/localize-time.js')}}
{%endblock%}
{%block nav%}
{{nav_breadcrumb(url_for("application"), "Application")}}
{{nav_breadcrumb(url_for("application_review_list"), "Review", True)}}
{%endblock%}
{%block content%}
      <h1>Application Review: Overview</h1>
      {%if entries%}
      <table class="table table-hover align-baseline">
        <thead>
          <tr>
            <th>User</th>
            <th>Submitted</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {%for entry in entries%}
          <tr>
            <td>{{entry.name}}</td>
            <td>{{render_timestamp(entry.timestamp)}}</td>
            <td>
              <a href="{{url_for('application_review', uid=entry.uid)}}" class="btn btn-outline-primary">Review</a>
            </td>
          </tr>
          {%endfor%}
        </tbody>
      </table>
      {%else%}
      <p><i>No applications</i></p>
      {%endif%}
      <nav>
        <ul class="pagination justify-content-center">
          <li class="page-item{%if offset == 0%} disabled{%endif%}"><a class="page-link" href="?">&#171;</a></li>
          <li class="page-item{%if offset == 0%} disabled{%endif%}"><a class="page-link" href="?offset={{(offset - amount, 0)|max}}">&#8249;</a></li>
          <li class="page-item active"><a class="page-link" href="">{{(offset // amount) + 1}}</a></li>
          <li class="page-item{%if not has_next%} disabled{%endif%}"><a class="page-link" href="?offset={{offset + amount}}">&#8250;</a></li>
        </ul>
      </nav>
{%endblock%}
