{%extends "base.html"%}
{%set subtitle = "Complaint submission \u2014 Automated Campus Security"%}
{%block nav%}
{{nav_breadcrumb("", "Complaint", True)}}
{%endblock%}
{%block content%}
      <h1>Complain to Automated Campus Security</h1>
      <form action="" method="post">
        <div class="mb-3">
          <label for="text" class="form-label">Your complaint:</label>
          <textarea class="form-control font-monospace" id="text" name="text" rows="10" required="required"></textarea>
        </div>
        <div class="d-flex">
          <button type="submit" class="btn btn-primary">Submit</button>
          <a href="{{url_for('index')}}" class="btn btn-secondary ms-2">Back to main page</a>
        </div>
      </form>
{%endblock%}
