{%extends "base.html"%}
{%set mode = "block" if request.path.endswith("/block") else "neutral" if request.path.endswith("/withdraw") else "friend"%}
{%set subtitle = {"friend": "Request Friendship", "neutral": "Withdraw Social Relationship", "block": "Block User"}[mode]%}
{%block nav%}
{%if user_info.user_status >= 3%}
{{nav_breadcrumb(url_for("user_list"), "Users")}}
{%endif%}
{{nav_breadcrumb(url_for("user_list", friends="yes"), "Friends")}}
{{nav_breadcrumb("", {"friend": "Request", "neutral": "Withdraw", "block": "Block"}[mode], True)}}
{%endblock%}
{%block content%}
      <h1>{{subtitle}}</h1>
      <form action="{{url_for('friend_request')}}" method="post" class="row align-items-baseline">
        <input type="hidden" name="action" value="{{mode}}"/>
        {%set name = request.args.get('name')%}
        <label for="other" class="form-label col-lg-3 mt-3 mt-lg-1 text-lg-end">
          User:
        </label>
        <div class="col-lg-9 mt-lg-3">
          <input class="form-control d-inline-block" id="other" name="other" required="required" {%if name%}value="{{name}}"{%else%}autofocus="autofocus"{%endif%}/>
        </div>
        <div class="col-lg-9 offset-lg-3 mt-3 d-flex flex-wrap gap-2">
          <input type="submit" class="btn btn-{{ {'friend': 'success', 'neutral': 'warning', 'block': 'danger'}[mode] }} me-auto" value="{{ {'neutral': 'Withdraw Relationship'}.get(mode, subtitle) }}"/>
          <a href="{{url_for('user_list', friends=True)}}" class="btn btn-outline-secondary">Back to Friend list</a>
        </div>
      </form>
{%endblock%}
