{%extends "base.html"%}
{%import "lib/badges.html" as badges%}
{%block extrahead%}
{{load_script("js/convert-tooltips.js")}}
{%endblock%}
{%block content%}
      <h1 class="text-center">Printing Point Management Administration</h1>
      {%if user_info.logged_in%}
      <div class="row">
        <div class="col-lg-6 mb-3 mb-lg-0">
          <div class="card border-primary">
            <div class="card-header border-primary bg-primary bg-opacity-10 text-primary fw-bold">User information</div>
            <div class="card-body">
              <dl class="mb-0 row">
                <dt class="col-md-4 mb-0 text-md-end">User name:</dt>
                <dd class="col-md-8"><span class="user-name">{{user_info.user_name}}</span>
                  {%-if display_name and display_name != user_info.user_name%} (display as: <span class="user-name-display">{{display_name}}</span>){%endif-%}
                </dd>
                <dt class="col-md-4 mb-0 text-md-end">Status:</dt>
                <dd class="col-md-8">{{badges.user_status(user_info.user_status)}}</dd>
                <dt class="col-md-4 mb-0 text-md-end">Printing points:</dt>
                <dd class="col-md-8 mb-0">{%if points == None%}<i>N/A</i>{%else%}{{points}}{%endif%}</dd>
              </dl>
            </div>
            <div class="card-footer border-primary">
              <a href="{{url_for('user', name=user_info.user_name)}}" class="btn btn-primary">View profile</a>
            </div>
          </div>
        </div>
        <div class="col-lg-6 mb-3 mb-lg-0">
          <div class="card border-secondary">
            <div class="card-header border-secondary fw-bold">Actions</div>
            <div class="list-group list-group-flush">
              {%if has_application%}
              <a href="{{url_for('application')}}" class="list-group-item list-group-item-action">
                Finish application process
              </a>
              {%endif%}
              {%if user_info.user_status >= 3%}
              {%if app_counts%}
              <a href="{{url_for('application_review_list')}}" class="list-group-item list-group-item-action">
                Review applications
                {%for key, cls in (('pending', 'primary'), ('accepted', 'success'), ('rejected_hidden', 'secondary'), ('rejected_public', 'warning'))%}
                {%if app_counts[key]%}
                <span class="badge rounded-pill bg-{{cls}}{%if cls == "warning"%} text-dark{%endif%}">{{app_counts[key]}}</span>
                {%endif%}
                {%endfor%}
              </a>
              {%endif%}
              <a href="{{url_for('user_list')}}" class="list-group-item list-group-item-action">
                View user profiles
              </a>
              {%endif%}
              <a href="{{url_for('friend_list')}}" class="list-group-item list-group-item-action">
                View Friends
                {%for key, cls in (('inbox', 'primary'), ('outbox', 'info'))%}
                {%if friend_counts[key]%}
                <span class="badge rounded-pill bg-{{cls}}{%if cls == 'info'%} text-dark{%endif%}">{{friend_counts[key]}}</span>
                {%endif%}
                {%endfor%}
              </a>
              <a href="{{url_for('transfer')}}" class="list-group-item list-group-item-action">
                Transfer printing points
              </a>
              <a href="{{url_for('acs_complaint')}}" class="list-group-item list-group-item-action">
                Submit complaint to Automated Campus Security
              </a>
              <a href="{{url_for('badge_store')}}" class="list-group-item list-group-item-action">
                Visit badge store
                {%if badges_available%}
                <span class="badge rounded-pill bg-primary">{{badges_available}}</span>
                {%endif%}
              </a>
              <a href="{{url_for('lottery')}}" class="list-group-item list-group-item-action">
                View Printing Point Lottery status
                {%if lottery_awarded%}
                <span class="badge rounded-pill bg-success">{{lottery_awarded}}</span>
                {%endif%}
              </a>
            </div>
          </div>
        </div>
      </div>
      {%else%}
      <form action="{{url_for('login')}}" method="get" class="row">
        <div class="col-lg-2"></div>
        <div class="col-md col-lg-4 mb-2">
          <button type="submit" class="btn btn-primary w-100">Wake up <i>(log in)</i></button>
        </div>
        <div class="col-md col-lg-4 mb-2">
          <button type="submit" name="register" value="yes" class="btn btn-primary w-100">Apply for Usership <i>(sign up)</i></button>
        </div>
        <div class="col-lg-2"></div>
      </form>
      {%endif%}
{%endblock%}
