{%extends "base.html"%}
{%set subtitle = "Printing Point Transfer"%}
{%block nav%}
{{nav_breadcrumb("", "Transfer", True)}}
{%endblock%}
{%block content%}
      <h1>Printing Point Transfer</h1>
      <form action="" method="post" class="row align-items-baseline">
        <label class="form-label col-lg-3 text-lg-end opacity-75">
          Current balance (PP):
        </label>
        <div class="col-lg-9 opacity-75">
          <span class="form-control d-inline-block">{%if cur_balance != None%}{{cur_balance}}{%else%}<i>N/A</i>{%endif%}</span>
        </div>
        <label for="amount" class="form-label col-lg-3 mt-3 mt-lg-1 text-lg-end">
          Amount (PP):
        </label>
        <div class="col-lg-9 mt-lg-3">
          <input class="form-control d-inline-block" type="number" id="amount" name="amount" min="0" max="{{cur_balance or 0}}" required="required" autofocus="autofocus"/>
        </div>
        <label class="form-label col-lg-3 mt-3 mt-lg-1 text-lg-end">
          Recipient:
        </label>
        {%set recipient = request.args.get('recipient')%}
        <div class="col-lg-9 mt-lg-3">
          <div class="d-flex align-items-baseline">
            <div class="form-check me-2">
              <input class="form-check-input" type="radio" name="recipient-type" id="recipient-type-user" value="user" required="required"{%if recipient%} checked="checked"{%endif%}/>
              <label class="form-check-label" for="recipient-type-user">User:</label>
            </div>
            <input class="form-control" type="text" id="recipient" name="recipient"{%if recipient%} value="{{recipient}}"{%endif%}{%if friend_names%} list="recipient-options"{%endif%}/>
            {%if friend_names%}
            <datalist id="recipient-options">
              {%for name in friend_names%}
              <option value="{{name}}"/>
              {%endfor%}
            </datalist>
            {%endif%}
          </div>
          <div class="form-check">
            <input class="form-check-input" type="radio" name="recipient-type" id="recipient-type-acs" value="acs" required="required"/>
            <label class="form-check-label" for="recipient-type-acs">Donate to Automated Campus Security</label>
          </div>
        </div>
        <div class="col-lg-9 offset-lg-3 mt-3 d-flex flex-wrap gap-2">
          <input type="submit" class="btn btn-primary me-auto" value="Transfer printing points"/>
          <a href="{{url_for('index')}}" class="btn btn-outline-secondary">Back to main page</a>
        </div>
      </form>
{%endblock%}
