{%extends "base.html"%}
{%import "lib/badges.html" as badges%}
{%set subtitle = ("Friends" if friend_mode else "Users")%}
{%block nav%}
{%if friend_mode and user_info.user_status >= 3%}
{{nav_breadcrumb(url_for("user_list"), "Users")}}
{%endif%}
{{nav_breadcrumb("", subtitle, True)}}
{%if not friend_mode%}
{{nav_breadcrumb(url_for("user", name=user_info.user_name), "Profile")}}
{%endif%}
{%endblock%}
{%block content%}
      <h1>{%if friend_mode%}Friend{%else%}User{%endif%} Listing</h1>
      {%if not friend_mode%}
      <nav class="d-flex flex-wrap align-items-baseline gap-2">
        <span class="form-label me-1">View:</span>
        {%set cur_filter = request.args.get('filter') or 'USER'%}
        <a class="btn btn-outline-info{%if cur_filter == 'ALL'%} active{%endif%}" href="{{add_query(filter='ALL')}}">All</a>
        <div class="btn-group">
          <a class="btn btn-outline-success{%if cur_filter == 'USER'%} active{%endif%}" href="{{add_query(filter='USER')}}">Users</a>
          <button class="btn btn-outline-success dropdown-toggle dropdown-toggle-split{%if cur_filter in ('USER_REGULAR', 'USER_ENHANCED')%} active{%endif%}" data-bs-toggle="dropdown"></button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item{%if cur_filter == 'USER_REGULAR'%} active{%endif%}" href="{{add_query(filter='USER_REGULAR')}}">Regular only</a></li>
            <li><a class="dropdown-item{%if cur_filter == 'USER_ENHANCED'%} active{%endif%}" href="{{add_query(filter='USER_ENHANCED')}}">Enhanced only</a></li>
          </ul>
        </div>
        <div class="btn-group me-auto">
          <a class="btn btn-outline-warning{%if cur_filter == 'NONUSER'%} active{%endif%}" href="{{add_query(filter='NONUSER')}}">Non-Users</a>
          <button class="btn btn-outline-warning dropdown-toggle dropdown-toggle-split{%if cur_filter in ('NONUSER_PENDING', 'NONUSER_FINAL')%} active{%endif%}" data-bs-toggle="dropdown"></button>
          <ul class="dropdown-menu">
            <li><a class="dropdown-item{%if cur_filter == 'NONUSER_PENDING'%} active{%endif%}" href="{{add_query(filter='NONUSER_PENDING')}}">P.U.E.s only</a></li>
            <li><a class="dropdown-item{%if cur_filter == 'NONUSER_FINAL'%} active{%endif%}" href="{{add_query(filter='NONUSER_FINAL')}}">Final Non-Users only</a></li>
          </ul>
        </div>
        <a class="btn btn-outline-secondary" href="{{url_for('user_list', friends='yes')}}">View Friends</a>
        <a class="btn btn-outline-secondary" href="{{url_for('application_review_list')}}">Review applications</a>
      </nav>
      {%endif%}
      {%if entries%}
      <table class="table table-hover align-baseline">
        <thead>
          <tr>
            {%+if not friend_mode%}<th>{{render_sortctl('ID', 'id')}}</th>{%endif+%}
            <th>{{render_sortctl('User', 'name', 'name')}}</th>
            {%+if not friend_mode%}<th>Status</th>{%endif+%}
            {%+if not friend_mode%}<th>{{render_sortctl('Points', 'points')}}</th>{%endif+%}
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          {%for entry in entries%}
          <tr>
            {%+if not friend_mode%}<td>{{entry.id}}</td>{%endif+%}
            <td><a href="{{url_for('user', name=entry.name)}}"><span class="user-name">{{entry.name}}</span></a></td>
            {%if friend_mode%}
            <td class="py-0">
              {%if entry.id != user_info.user_id%}
              <a class="btn btn-outline-secondary btn-sm btn-tight" href="{{url_for('friend_change', name=entry.name)}}">Unfriend/Block...</a>
              {%endif%}
            </td>
            {%else%}
            <td class="py-0">
              {{badges.user_status(entry.status, short=True)}}
              {%if entry.visibility != None%}
              {{badges.profile_visibility(entry.visibility)}}
              {%endif%}
              {%if entry.id == user_info.user_id%}
              {{badges.badge('You', 'bg-info text-dark')}}
              {%endif%}
            </td>
            <td>{{entry.points}}</td>
            <td class="py-0">
              {%if entry.status >= 2%}
              <a class="btn btn-outline-primary btn-sm btn-tight" href="{{url_for('user', name=entry.name)}}">Details...</a>
              {%endif%}
              {%if entry.hasApplication%}
              <a class="btn btn-outline-secondary btn-sm btn-tight" href="{{url_for('application_review', uid=entry.id)}}">Application...</a>
              {%endif%}
              {%if entry.id != user_info.user_id%}
              <a class="btn btn-outline-secondary btn-sm btn-tight" href="{{url_for('friend_change', name=entry.name)}}">Change Friendship...</a>
              {%endif%}
            </td>
            {%endif%}
          </tr>
          {%endfor%}
        </tbody>
      </table>
      {%else%}
      <p class="mt-2"><i>No {%if friend_mode%}Friends{%else%}users{%endif%}</i></p>
      {%endif%}
      <nav class="d-flex flex-wrap gap-2">
        {%if friend_mode%}
        <a class="btn btn-outline-success" href="{{url_for('friend_change', action='friend')}}">Request Friendship...</a>
        {%endif%}
        {{render_pagination(offset, amount, len(entries) + has_more)}}
        {%if friend_mode%}
        <a class="btn btn-outline-secondary" href="{{url_for('user_list')}}">Back to user list</a>
        {%endif%}
        <a class="btn btn-outline-secondary" href="{{url_for('index')}}">Back to main page</a>
      </nav>
{%endblock%}
