{%extends "base.html"%}
{%import "lib/badges.html" as badges%}
{%set subtitle = "User Profile"%}
{%block nav%}
{%if user_info.user_status >= 3%}
{{nav_breadcrumb(url_for("user_list"), "Users")}}
{%endif%}
{%if user_info.user_name == profile_name%}
{{nav_breadcrumb("", "Profile", True)}}
{%elif user_info.user_status < 3%}
{{nav_breadcrumb("", "User Details", True)}}
{%else%}
{{nav_breadcrumb("", "Details", True)}}
{%endif%}
{%endblock%}
{%block content%}
      <h1>User Profile: <span class="user-name">{{profile_data.displayName}}</span></h1>
      {%if not profile_data.visible%}
      {%if user_info.user_status >= 3%}
      {%if profile_data.visibility >= 0%}
      <p>This User Profile is private.</p>
      <a href="{{add_query(force='yes')}}" class="btn btn-warning">View anyway</a>
      {%else%}
      <p>This User Profile does not exist.</p>
      <a href="{{url_for('user_list')}}" class="btn btn-primary">Back to overview</a>
      {%endif%}
      {%else%}
      <p>This User Profile does not exist or is private.</p>
      <a href="{{url_for('index')}}" class="btn btn-primary">Back to main page</a>
      {%endif%}
      {%else%}
      {%set is_editing = may_edit and request.args.get('edit')%}
      {%if is_editing%}
      <form action="" method="post">
        <input type="hidden" name="user" value="{{profile_name}}"/>
      {%else%}
      <div class="user-profile">
      {%endif%}
        <div class="card border-primary mb-3">
          <div class="card-header border-primary text-primary bg-primary bg-opacity-10 fw-bold">Basics:</div>
          <div class="card-body">
            <dl class="row mb-0 align-items-baseline">
              {%if user_info.user_status >= 3%}
              <dt class="col-sm-4 col-md-3 col-lg-2 mb-0 text-sm-end">User ID:</dt>
              <dd class="col-sm-8 col-md-9 col-lg-10">
                {{profile_data.id}}
              </dd>
              {%endif%}
              <dt class="col-sm-4 col-md-3 col-lg-2 mb-0 text-sm-end">User name:</dt>
              <dd class="col-sm-8 col-md-9 col-lg-10">
                <span class="user-name">{{profile_data.name}}</span>
                {%if profile_data.displayName != profile_data.name and not is_editing%}
                (display as: <span class="user-name">{{profile_data.displayName}}</span>)
                {%endif%}
              </dd>
              {%if is_editing%}
              <dt class="col-sm-4 col-md-3 col-lg-2 mb-0 text-sm-end">Display name:</dt>
              <dd class="col-sm-8 col-md-9 col-lg-10">
                <input type="text" name="display-name" value="{{profile_data.displayName}}" class="form-control d-inline-block"/>
              </dd>
              {%endif%}
              <dt class="col-sm-4 col-md-3 col-lg-2 mb-0 text-sm-end">Status:</dt>
              <dd class="col-sm-8 col-md-9 col-lg-10">
                {{badges.user_status(profile_data.status)}}
                {%if profile_data.hasApplication%}
                {%if user_info.user_status >= 3%}
                <a class="btn btn-outline-secondary btn-sm btn-tight ms-1" href="{{url_for('application_review', uid=profile_data.id)}}">View application</a>
                {%elif user_info.user_id == profile_data.id%}
                <a class="btn btn-outline-primary btn-sm btn-tight ms-1" href="{{url_for('application')}}">Finish application process</a>
                {%endif%}
                {%endif%}
              </dd>
              <dt class="col-sm-4 col-md-3 col-lg-2 mb-0 text-sm-end">Profile visibility:</dt>
              <dd class="col-sm-8 col-md-9 col-lg-10">
                {%if is_editing%}
                {%for (id, name, label, details) in all_visibilities%}
                <div class="form-check">
                  <input class="form-check-input" type="radio" name="visibility" id="visibility-{{name}}" value="{{name}}"
                  {%-if profile_data.visibility == id%} checked="checked"{%endif-%}/>
                  <label class="form-check-label" for="visibility-{{name}}">{{label}} <small class="fst-italic">({{details}})</small></label>
                </div>
                {%endfor%}
                {%else%}
                {{badges.profile_visibility(profile_data.visibility)}}
                {%endif%}
              </dd>
              <dt class="col-sm-4 col-md-3 col-lg-2 mb-0 text-sm-end">Badges:</dt>
              <dd class="col-sm-8 col-md-9 col-lg-10">
                {%if not profile_data.badges%}
                <i>None</i>
                {%else%}
                {%for entry in profile_data.badges%}
                {%if entry.amount == 1%}
                <span class="badge rounded-pill user-badge user-badge-{{entry.id}}">{{entry.label | upper}}</span>
                {%else%}
                <span class="badge-group">
                  <span class="badge rounded-pill user-badge user-badge-{{entry.id}}">{{entry.label | upper}}</span>
                  <span class="badge rounded-pill bg-secondary">&times;{{entry.amount}}</span>
                </span>
                {%endif%}
                {%endfor%}
                {%endif%}
                {%if user_info.user_id == profile_data.id%}
                <a class="btn btn-outline-primary btn-sm btn-tight ms-1" href="{{url_for('badge_store')}}">Store</a>
                {%endif%}
              </dd>
              <dt class="col-sm-4 col-md-3 col-lg-2 mb-0 text-sm-end">Printing points:</dt>
              <dd class="col-sm-8 col-md-9 col-lg-10">
                {%+if profile_data.points == None%}<i>N/A</i>{%else%}{{profile_data.points}}{%endif+%}
                {%if user_info.user_id == profile_data.id%}
                <a class="btn btn-outline-primary btn-sm btn-tight ms-1" href="{{url_for('transfer')}}">Transfer...</a>
                {%else%}
                <a class="btn btn-outline-primary btn-sm btn-tight ms-1" href="{{url_for('transfer', recipient=profile_data.name)}}">Transfer...</a>
                {%endif%}
              </dd>
              {%if user_info.user_id != profile_data.id%}
              <dt class="col-sm-4 col-md-3 col-lg-2 mb-0 text-sm-end">Friendship status:</dt>
              <dd class="col-sm-8 col-md-9 col-lg-10 mb-0">
                {{badges.friendship_status(profile_data.friendFwd or 0, profile_data.friendRev or 0)}}
                <span class="btn-group btn-group-border">
                  {%if profile_data.friendFwd == 0 and profile_data.friendRev >= 0%}
                  <a class="btn btn-outline-success btn-text-secondary-inact btn-sm btn-tight" href="{{url_for('friend_change', name=profile_data.name, action='friend')}}">
                    {{"Accept Friendship" if profile_data.friendRev > 0 else "Request Friendship"}}
                  </a>
                  {%endif%}
                  {%if profile_data.friendFwd != 0%}
                  <a class="btn btn-outline-warning btn-text-secondary-inact btn-sm btn-tight" href="{{url_for('friend_change', name=profile_data.name, action='neutral')}}">
                    {{"Unfriend" if profile_data.friendFwd > 0 else "Unblock"}}
                  </a>
                  {%endif%}
                  {%if profile_data.friendFwd >= 0%}
                  <a class="btn btn-outline-danger btn-text-secondary-inact btn-sm btn-tight" href="{{url_for('friend_change', name=profile_data.name, action='block')}}">
                    {{"Counter-block" if profile_data.friendRev < 0 else "Block"}}
                  </a>
                  {%endif%}
                </span>
              </dd>
              {%endif%}
            </dl>
          </div>
        </div>
        <dl class="card border-secondary mb-3">
          <dt class="card-header border-secondary">Description:</dt>
          <dd class="card-body mb-0">
            {%if is_editing%}
            <textarea class="form-control font-monospace" name="description" rows="5">{{profile_data.description or ""}}</textarea>
            {%elif profile_data.description == None%}
            <i>None provided</i>
            {%else%}
            <span class="font-monospace preserve-whitespace">{{profile_data.description}}</span>
            {%endif%}
          </dd>
        </dl>
        <nav class="d-flex flex-wrap align-items-baseline gap-2">
          {%set can_friend = user_info.user_id != profile_data.id and profile_data.friendFwd == 0 and profile_data.friendRev >= 0%}
          {%if is_editing or may_edit or can_friend%}
          <span class="form-label">Actions:</span>
          {%endif%}
          {%if is_editing%}
          <button type="submit" class="btn btn-primary">Save changes</button>
          <a class="btn btn-secondary me-auto" href="{{add_query(edit=None)}}">Cancel editing</a>
          {%elif may_edit%}
          <a class="btn btn-primary{%if not can_friend%} me-auto{%endif%}" href="{{add_query(edit='yes')}}">Edit</a>
          {%endif%}
          {%if can_friend and not is_editing%}
          <a class="btn btn-success me-auto" href="{{url_for('friend_change', name=profile_data.name, action='friend')}}">
            {{-"Request Friendship" if profile_data.friendRev == 0 else "Accept Friendship"-}}
          </a>
          {%endif%}
          {%if not is_editing and not may_edit and not can_friend%}
          <span class="me-auto"></span>
          {%endif%}
          {%if user_info.user_status >= 3%}
          <a class="btn btn-outline-secondary" href="{{url_for('user_list')}}">Back to user list</a>
          {%else%}
          <a class="btn btn-outline-secondary" href="{{url_for('user_list', friends='yes')}}">Back to Friend list</a>
          {%endif%}
          <a class="btn btn-outline-secondary" href="{{url_for('index')}}">Back to main page</a>
        </nav>
      {%+if not is_editing%}</div>{%else%}</form>{%endif+%}
      {%endif%}
{%endblock%}
