
.logo {
  height: 1.2em;
}

.mini-form {
  max-width: 30em;
}
.form-label {
  font-weight: bold;
}

.preserve-whitespace {
  white-space: pre-wrap;
}

.user-name {
  unicode-bidi: embed;
  font-family: var(--bs-font-monospace);
}
.user-name-display {
  unicode-bidi: embed;
  font-style: italic;
}

.button-row > .btn {
  flex-grow: 1;
}

.badge-group {
  display: inline-flex;
}
.badge-group > .badge:not(:first-child) {
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  padding-left: 0.35em;
}
.badge-group > .badge:not(:last-child) {
  border-top-right-radius: 0rem !important;
  border-bottom-right-radius: 0rem !important;
  padding-right: 0.35em;
}

.btn-tight {
  padding: 0.125rem 0.25rem;
}
.btn-very-tight {
  padding: 0 0.25rem;
  margin: -1px 0;
}
.btn-text-primary-inact:not(.active):not(:hover):not(:focus):not(:active) {
  color: var(--bs-primary);
}
.btn-group-primary-border > .btn:not(.active):not(:hover):not(:focus):not(:active) {
  border-color: var(--bs-primary);
}
.btn-text-secondary-inact:not(.active):not(:hover):not(:focus):not(:active) {
  color: var(--bs-secondary);
}
.btn-group-secondary-border > .btn:not(.active):not(:hover):not(:focus):not(:active) {
  border-color: var(--bs-secondary);
}

dl.inverted > dt {
  font-weight: normal;
}
dl.inverted > dd {
  font-weight: bold;
}

.form-tight-numbers input[type=number] {
  width: 5em;
}

.sort-control {
  text-decoration: none;
}

.user-badge {
  background: var(--bs-secondary);
}
.user-badge-magic { background: var(--bs-primary);                     }
.user-badge-badge { background: var(--bs-info); color: var(--bs-dark); }
.user-badge-noob  { background: var(--bs-success);                     }
.user-badge-t1    { background: #a06020;                               }
.user-badge-t2    { background: #c0c0c0;        color: var(--bs-dark); }
.user-badge-t3    { background: #ffc000;        color: var(--bs-dark); }
.user-badge-t4    { background: #c0c0ff;        color: var(--bs-dark); }
.user-badge-t5    { background: #a0ffff;        color: var(--bs-dark); }
.user-badge-t6    { background: #800080;                               }
