
.logo {
  height: 1.2em;
}

.mini-form {
  max-width: 30em;
}
.form-label {
  font-weight: bold;
}

.preserve-whitespace {
  white-space: pre;
}

dl.inverted > dt {
  font-weight: normal;
}
dl.inverted > dd {
  font-weight: bold;
}

.form-tight-numbers input[type=number] {
  width: 5em;
}
